@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Inter-Regular.woff') format('woff'),
    url('fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/Inter-Medium.woff') format('woff'),
    url('fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('fonts/Inter-Black.woff') format('woff'), url('fonts/Inter-Black.woff2') format('woff2');
}

/* Root */
.root {
  font-family: 'Inter', 'Arial', sans-serif;

  margin: 0;

  background-color: #000000;
}

/* Page */
.page {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* Header */

.header {
  border-bottom: 1px solid #545454;

  max-width: 880px;

  margin: 0 auto;
}

.header__logo {
  max-width: 142px;
  min-height: 33px;

  margin: 45px 0 41px 0;

  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
}

/* Content */
.content {
  margin: 0;
}

/* Profile */
.profile {
  display: grid;
  grid-template-columns:
    minmax(120px, min-content) minmax(336px, max-content)
    1fr;
  grid-template-rows: auto;

  max-width: 880px;

  margin: 40px auto 0 auto;
}

.profile__avatar {
  display: flex;

  max-width: 120px;
  min-height: 120px;

  margin: 0 30px 0 0;

  border-radius: 50%;
}

.profile__info {
  max-width: 336px;

  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  row-gap: 16px;
}

.profile__title {
  margin: 22px 0 0 0;

  font-weight: 500;
  font-size: 42px;
  line-height: 48px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  color: #ffffff;
}

.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  margin: 0;

  color: #ffffff;
}

.profile__edit-button {
  display: flex;

  box-sizing: border-box;
  border: none;

  margin: 37px 0 0 18px;
  padding: 0;

  background-color: #000000;

  transition: 0.2s linear;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__edit-button-image {
  max-width: 24px;
  min-height: 24px;
}

.profile__add-button {
  display: flex;
  justify-content: flex-end;

  box-sizing: border-box;
  border: none;

  background-color: #000000;

  padding: 35px 0 35px 0;

  transition: 0.2s linear;
}

.profile__add-button:hover {
  opacity: 0.7;
}

.profile__add-buttom-image {
  max-width: 150px;
  min-height: 50px;
}

/* Elements */
.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;

  max-width: 880px;

  box-sizing: border-box;
  margin: 51px auto 67px;
  padding: 0;
}

.elements__item {
  max-width: 282px;
}

.elements__image {
  width: 100%;
  max-height: 282px;

  display: block;

  border-radius: 10px 10px 0 0;

  object-fit: cover;
}

.elements__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;

  border-radius: 0 0 10px 10px;

  padding: 25px 20px;
  margin: 0;
}

.elements__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;

  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__button {
  border: none;

  margin: 0;
  padding: 0;

  background: #ffffff;
}

.elements__like {
  transition: 0.2s linear;
}

.elements__like:hover {
  opacity: 0.7;
}

/* Footer */
.footer {
  max-width: 880px;
  margin: 0 auto;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #545454;
}

/* Popup */
.popup {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
}

.popup_opened {
  display: none;
}

.popup__container {
  max-width: 430px;
  min-height: 330px;

  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

  border-radius: 10px;

  position: relative;

  box-sizing: border-box;
  padding: 34px 36px 37px;
}

.popup__button {
  background-image: url(./images/Close.svg);
  background-repeat: no-repeat;
  background-color: transparent;

  width: 32px;
  height: 32px;

  padding: 0;

  border: none;

  position: absolute;
  top: -40px;
  right: -40px;

  transition: 0.2s linear;
}

.popup__button:hover {
  opacity: 0.6;
}

.popup__title {
  max-width: 330px;

  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;

  margin: 0 28px 54px 0;
}

.popup__form {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__label {
  margin: 0 0 30px 0;
}
.popup__input {
  width: 100%;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  outline: none;

  box-sizing: border-box;
  padding: 0 0 13px 0;
}

.popup__submit {
  max-width: 358px;
  min-height: 50px;

  background: #000000;

  border-radius: 2px;

  padding: 0;
  margin: 18px 0 0 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

.popup__sumbit_disabled {
  transition: 0.2s linear;
  cursor: pointer;
}

.popup__sumbit_disabled:hover {
  opacity: 0.8;
}
