.popup__submit {
  width: 100%;
  min-height: 50px;

  background: #000000;

  border-radius: 2px;
  border: 0;

  padding: 0;
  margin: 48px 0 0 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;

  transition: 0.2s linear;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Media =====
================= */

@media screen and (max-width: 630px) {
  .popup__submit {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    margin: 45px 0 0 0;
  }
}
